/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/************ Banner Css ************/
.home {
  margin-top: 0;
  padding: 160px 0 115px 0;
  background-image: url("./assets/img/banner-bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home .intro-text {
  display: flex;
  align-items: center;
}
.home h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
}
.home p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

/************ Favourite personality Css ************/
.fav-personality-section {
  margin-top: 0;
  padding: 160px 0 115px 0;
  height: 100vh !important;
  background-image: url("./assets/img/fav-personality-bg.png");
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}

.fav-personality-section .data {
  padding: 70px 0 0 0;
}

.fav-personality-section .text-header {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  color: rgb(245, 165, 15);
  /* border-bottom: 5px solid rgb(245, 165, 15); */
  width: fit-content;
}

.fav-personality-section .text-body {
  color: white !important;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  text-align: justify;
}

/************ Spot Css ************/
.spot {
  padding: 120px 0 210px 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.55);
}
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  z-index: -1;
}

@media (max-width: 1300px) {
  .spot {
    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(105, 67, 89, 1) 100%
    );
  }

  .spot-imgbx::before {
    content: "";
    background: rgb(124, 43, 101);
    background: linear-gradient(
      0deg,
      rgba(124, 43, 101, 0.468312324929972) 42%,
      rgba(0, 0, 0, 0.6503851540616247) 100%
    );
  }
}

.spot h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.spot p {
  color:#b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.spot-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px; /* adding spaces between images in mobile view*/
}
.spot-imgbx::before {
  content: "";
  background-color: #7b7a7a98;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.spot-imgbx:hover::before {
  height: 100%;
}
.spot-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.spot-imgbx:hover .spot-txtx {
  top: 50%;
  opacity: 1;
}
.spot-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.spot-txtx .description {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}


/************ Cities Css ************/
.cities {
  padding: 120px 0 210px 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.55);
}
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  z-index: -1;
}

@media (max-width: 1300px) {
  .cities {
    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(105, 67, 89, 1) 100%
    );
  }

  .cities-imgbx::before {
    content: "";
    background: rgb(124, 43, 101);
    background: linear-gradient(
      0deg,
      rgba(124, 43, 101, 0.468312324929972) 42%,
      rgba(0, 0, 0, 0.6503851540616247) 100%
    );
  }
}

.cities h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.cities p {
  color:#b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.cities-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px; /* adding spaces between images in mobile view*/
}
.cities-imgbx::before {
  content: "";
  background-color: #7b7a7a98;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.cities-imgbx:hover::before {
  height: 100%;
}
.cities-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.cities-imgbx:hover .cities-txtx {
  top: 50%;
  opacity: 1;
}
.cities-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.cities-txtx .description {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}






/************ Contact Css ************/
.contact {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  padding: 140px 0 130px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
}
.contact form button:hover {
  background-color: rgb(162, 130, 194);
  color: #fff;
}

/************ Footer Css ************/
.footer {
  padding: 15px 0 0px 0;
  background-image: url("./assets/img/footer-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer img {
  width: 100px;
}

.footer .footer-text-heading {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  padding-bottom: 10px;
}
@media screen and (max-width: 575px) {
  .footer .logo-col {
    width: 100vw;
    text-align: center;
  }
}

.footer .social-icon img {
  width: 45px;
  padding: 0 10px;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .nav-text-heading {
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
  font-size: 25px;
}

nav.navbar .nav-text-heading:hover {
  color: rgb(245, 165, 15);
  transition: 0.3s ease-in-out;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
  text-decoration: none;
}
nav.navbar .navbar-link:hover {
  opacity: 1;
  color: rgb(245, 165, 15) !important;
}
nav.navbar .navbar-link.active {
  opacity: 1;
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}
